* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.about_us_banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.action-links {
    display: flex;
    gap: 10px;
    /* Space between the links */
}

.action-links a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
    /* Add pointer cursor */
}

.action-links a:hover {
    background-color: #007BFF;
    color: white;
}

@media (max-width: 600px) {
    .action-links {
        flex-direction: column;
        /* Stack vertically */
    }
}


.navbar {
    width: 85%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    font-size: large;


}

.logo {
    width: 120px;
    cursor: pointer;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-family: "Cormorant Garamond", serif;
    display: flex;
    align-items: center;
        background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content-home {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-family: "Cormorant Garamond", serif;
}

.content-home h1 {
    font-size: 50px;
    margin: 20px;
    line-height: 0.5;
}

.content-home p {
    max-width: 800px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
    color: #f1f1f1;
}

.content-about {
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-family: "Cormorant Garamond", serif;
}

.content-contactus {
   width: 60%;
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-family: "Cormorant Garamond", serif;

}
 

.content-about h2 {
    font-size: 50px;
    margin: 20px;
}

.content-contactus p {
    max-width: 800px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
    color: #f1f1f1;
}



.content h1 {
    font-size: 50px;
    margin: 20px;
}

.content p {
    max-width: 800px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
    color: #f1f1f1;
}

button {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    /* Make sure button is positioned correctly */
    z-index: 1;
    overflow: hidden;
    /* Ensure it's above other elements */
}

button:hover {
    border: none;
}

button span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}


.team_section h2 {
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
    color: #f1f1f1;
}

.team_profiles {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}


.img_profile {
    overflow: hidden;
}

.profile {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.profile:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.2);
}

.profile_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.profile:hover .profile_img {
    transform: scale(1.1);
}

.profile h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.profile p {
    font-size: 16px;
    color: #ddd;
    margin-bottom: 20px;
}

.socials a {
    text-decoration: none;
    color: #009688;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: #004d40;
}

.gallery_section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0,  0, 0, 0.75)), url(../images/background.jpg);
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.gallery_text h2 {
    max-width: 800px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
    color: #9e5d5d;

}

.gallery_section h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #ffffff;
}

.gallery_section h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #ffffff;
}

.gallery_list {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    list-style-type: none;
    padding: 100px;
 }

.gallery_item {
    background-color: rgba(239, 239, 239, 0.3);
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
     overflow: hidden;
    transition: transform 0.3s ease;
    height: 100%;
    width: 100%;
}

.gallery_title {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.gallery_item:hover {
    transform: scale(1.05);
}

.gallery_item img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 3%;
}


/* Container for the dots menu */
.menu-container {
    position: relative;    
    top: 0;
    left:49%;
    z-index: 1;
}

.menu-dots {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
 
}

.menu-dots:focus {
    outline: none;
}

/* Contextual menu */
.contextual-menu {
    display: none;
    position: absolute;
    top: 25px;
    right: 100;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 0;
}

/* Show menu on hover or focus */
.menu-container:focus-within .contextual-menu,
.menu-container:hover .contextual-menu {
    display: block;
}

.contextual-menu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.contextual-menu a:hover {
    background-color: #f0f0f0;
}

.gallery_item img:hover {
    transform: scale(1.1);
}



.gallery_item p {
    font-size: 16px;
    color: #fafafa;
    margin: 0;
    padding: 0 10px;
    font-weight: 500;
}


.contact_container {
    padding: 20px;
    max-width: 1000px;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
    height: 65%;
}


.contact_container h2 {
    font-size: 22px;
    color: #ffffff;
    line-height: 0.0;

}

.contact_container p {
    font-size: 10px;
    color: #ffffff;
    line-height: 0.0;
}

.contact_container p a {
    color: #1c056e;
    /* Change to the desired color */
    text-decoration: none;
    /* Optional: remove the underline */
}

.contact_content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;

}

.contact_form {
    flex: 1;
}

.contact_form .form_group {
    margin-bottom: 5px;
}

.checkbox-description {
    margin-top: 5px;
    /* Space between the checkbox and description */
    font-size: 0.9em;
    /* Slightly smaller text */
    color: #555;
    /* Gray color for the description */
}



.contact_form input,
.contact_form textarea {
    width: 100%;
    padding: 11px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

.map {
    flex: 1;
    padding-left: 20px;
}

.map_container {
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    height: 74%;
}

.map_container iframe {
    width: 100%;
    height: 96%;
    border: none;
}

footer {
    background-color: #006492;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}

.footer_content p {
    font-size: 14px;
    line-height: 1.5;
    margin: 3px 0;
}

.footer_content a {
    color: #0f0f0f;
    text-decoration: none;
    font-size: 14px;
}

.footer_content a:hover {
    color: #004d40;
}

.social_media img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social_media img:hover {
    transform: scale(1.1);
}

.background-image-beaches {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
  font-size: 40px;
     color: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/background.jpg);
}

 
.add-new-container {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/background.jpg);
}

.add-new-link {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.add-new-link:hover {
    background-color: #0056b3;
}

.plus-icon {
    font-size: 20px;
    margin-right: 5px;
}


/* Target only the button inside the search form */
/* Target only the button inside the search form */



/* Optional: style the search input field */
.search-container form input[type="text"] {
    padding: 8px;
    /* Padding inside the input */
    font-size: 16px;
    /* Font size */
    width: 250px;
    /* Set width for the input */
    border-radius: 25px;
    /* Rounded corners */
    border: none;
    /* No border */
    outline: none;
    /* Remove outline on focus */
    color: white;
    /* Text color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
}

/* Style for the search container */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/background.jpg);
}

/* Style for the form */
.search-container form {
    display: flex;
    border: 2px solid #007bff;
    /* Border around the form */
    border-radius: 25px;
    /* Rounded corners for form */
    padding: 10px;
    /* Padding around the form */
    background-size: cover;
    /* Cover the entire background */
}

/* Placeholder text style */
.search-container form input::placeholder {
    color: #888;
    /* Placeholder color */
    font-style: italic;
    /* Italic font style for placeholder */
}